main{
    width: 95%;
    margin-left: auto;
    margin-left: auto;
    font-size: 1.2em;
    margin-top: 3vw;
    color: var(--def_text);
}

main > p{
    width: 80%;
}
main > ul{
    width: 80%;
}

main > .violet{
    color: #4d2394;
}
