main{
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw;
    margin-top: 5vw;
}

.frontend_skills{
    grid-column: 1;
}
.frontend_skills{
    margin-left: 1vw;
}

.additional_skills{
    margin-left: 1vw;
}


.frontend_skills{
    border-right: black 0.15vw solid;
}